.input {
    border: none;
    color: rgb(0, 0, 0);
    background-color: aliceblue;
    width: 100%;
    text-align: left;
}

ul li {
    list-style: none;
    text-align: left;
    border-bottom: 1px solid black;
    color: rgb(0, 0, 0);
}