.results-container {
    width: 100%;
    border: 1px solid grey;
}

.results-container input {
    width: 100%;
    border: none;
    border: 1px solid grey;
    text-align: left;
    color: rgb(86, 86, 86);
    box-sizing: border-box;
    outline: none;
}

.results-container ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
}

.results-container ul::before {
    content: "";
}

.results-container li {
    padding: 10px 5px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: 10px;
}

.results-container li:hover {
    text-decoration: underline;
    background-color: rgb(86, 86, 86);
}