.container {
    display: grid;
    height: 100vh;
    grid-template-columns: minmax(100px, 1fr);
    justify-items: center;
}

 .title {
    font-size: 30px;
    font-weight: 800;
    align-self: center;
}

.search-container {
    width: 50%;
    align-self: start;
}
