.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.2fr 0.6fr 0.2fr;
    grid-template-rows: 0.1fr 0.9fr;
    justify-items: center;
}

.title {
    text-align: center;
}

.description-box {
    grid-row: 1;
    grid-column: 2;
    align-self: center;
}

.search-container {
    grid-row: 2;
    grid-column: 2;
    width: 700px;
    height: 100px;
    align-self: center;
}

.input {
    border: none;
}

.input:focus {
    outline: none;
}