.Modal {
    position: fixed;
    display: grid;
    height: 70vh;
    width: 70%;
    grid-template-rows: 0.2fr 0.6fr 0.2fr;
    top: 15%;
    left: 15%;
    z-index: 300;
    justify-items: center;
    transition: ease-in 0.6s;
}