.ResultsPage {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.SearchPictureComponent {
    position: fixed;
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    height: 10vh;
}

.SearchPictureComponent .SearchPictureComponent--item {
    align-self: flex-start;
    width: 50%;
    padding-left: 10%;
    padding-top: 2%;
}

.title {
    position: absolute;
    top: 10%;
    left: 10%;
    padding-top: 20px;
    font-weight: 800;
    font-size: 40px;
}

.picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    display: grid;
    width: 80%;
    margin: 200px auto;
    grid-template-rows: repeat(2, minmax(450px, min-content));
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
}